---
import '../styles/global.css';
import LeafletMapComponent from '../components/maps/LeafletMapComponent.astro';
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <h1>My writings and technical demos</h1> 
    <p>Click on a country to see all of the posts I've made about it.</p>
	  <LeafletMapComponent></LeafletMapComponent>
    <p>Or navigate to any of the non-country related tags below</p>
  </body>
</html>