---
---
<div id="world_map" style="min-height: 700px;"></div>
<script>
    import "./leaflet_map.js"
</script>
<link href=" https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.css " rel="stylesheet">